.image-title {
  color: var(--dark);
  font-size: clamp(1rem, 5vw, 4rem); /* responsive font size */
  text-align: center;
  margin: 0;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-wrap: no-wrap;
}
